{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full">

            <header class="post-full-header">
                <h1 class="post-full-title">归档</h1>
            </header>

            <section class="post-full-content">
                <div class="post-content">
                    <ul class="archives">
                    {{#get "posts" limit="all"}}
                        {{#foreach posts}}
                            <li class="archive-item">
                            <span>{{date published_at format="YYYY-MM-DD"}}&nbsp;<a href="{{url}}">{{title}}</a></span>
                            </li>
                        {{/foreach}}
                    {{/get}}
                    </ul>
                </div>
            </section>

        </article>

    </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function() {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}
